azure-ai-inference
python-dotenv
streamlit
autogen-agentchat
autogen-ext[openai,azure]
python-dotenv
autogenstudio
aiohttp
opentelemetry-sdk
azure-core-tracing-opentelemetry
azure-monitor-opentelemetry